body{
    background: #FFE4B5;
    margin: 10px;
}

h1{
    font-size: 50px;
    color: #663399;
}

h2,h3,h5{
    color: #4169E1;
}

div{
    font-size: 30px;
    color: #663399;
    
}

hr{
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 15%;
}

img{
    border-radius: 50%;
}

input, textarea{
    background: wheat;
}

.msg{
    display: flex;
    flex-direction: column;
}

.frm{
    width: 80%;
}

